@import '~assets/styles/color-palette.scss';
@import '~assets/styles/responsive-breaks.scss';
@import '~assets/styles/helper-css.scss';

.user-container{
    display:flex;
    flex-direction: column;
    background-color: $red-background;
    height:100vh;
    header{
        position: relative;
        background-color: $red-background;
        background-image: url('/assets/patterns/brick-wall-pattern.png');
        .image-upload{
            position: absolute;
            left: 200px;
            bottom: 0;
            overflow: hidden;
            width: 40px;
            cursor: pointer;
            i{
                color:$action-focus-back;
            }
            input{
                opacity: 0;
                position: absolute;
                left: 0;
            }
        }
        .image-container{
            display: inline-block;
            height: 150px;
            width:150px;
            border-radius: 50%;
            border: 5px solid $white;
            background-color: $action-focus-back;
            background-image: url('/assets/icons/loader.svg');
            overflow: hidden;
            position: relative;
            top: 75px;
            left: 25px;
            box-shadow: 0 0 5px 0;
            .filter-user-image{
                position: absolute;
                @include container-size(100%,100%);
                top:0;
                background-image: url('/assets/patterns/user-pattern.png');
            }
            .user-image{
                height:100%;
                width:100%;
                background-size:     cover;
                background-repeat:   no-repeat;
                background-position: center center;
            }
        }
        .welcome-message{
            @extend %font;
            color: $white;
            font-size: 25px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            text-align: center;
        }
    }
    section{
        flex: 1;
        background-color: $action-focus-back;
        padding: 70px 20px 20px 20px;
        .input-header{
            @extend %font;
            width: 100%;
            border: 0;
            font-size: 15px;
            padding: 10px 15px;
            color: $sidebar-text;
            box-shadow: 2px 2px 10px $sidebar-text;
            border-radius: 4px;
            margin: 10px 0;
            &:focus{
                border: 0;
                outline: 0;
            }
        }
        .input-body{
            @extend %font;
            resize: vertical;
            width: 100%;
            min-height: 30vh;
            border: 0;
            font-size: 15px;
            padding: 10px 15px;
            color: $sidebar-text;
            box-shadow: 2px 2px 10px $sidebar-text;
            border-radius: 4px;
            margin: 10px 0;
            &:focus{
                border: 0;
                outline: 0;
            }
        }
    }
}
@media screen and (max-width:$break-sm-width){
    .welcome-message{
        display:none;
    }
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $sidebar-text;
}
::-moz-placeholder { /* Firefox 19+ */
    color: $sidebar-text;
}
:-ms-input-placeholder { /* IE 10+ */
    color: $sidebar-text;
}
:-moz-placeholder { /* Firefox 18- */
    color: $sidebar-text;
}