<div class="user-container">
  <header>
    <div class="image-container">
      <div class="user-image" [ngStyle]="{'background-image': 'url('+profilePicture.url+')'}"></div>
      <div class="filter-user-image"></div>
    </div>
    <div class="image-upload">
      <i class="material-icons">camera_alt</i>
      <input type="file" title=" " #profilePhoto (change)="updateUserProfilePicture($event.target.files)"/>
    </div>
    <span class="welcome-message">
      WELCOME {{ userDetails.displayName }}
    </span>
  </header>
  <section>
    <input class="input-header" type="text" #displayNameInput 
      [value]="userDetails.displayName" 
      (blur)="updateUserDetails(displayNameInput,'displayName')"/>
    <input class="input-header" type="text" #displayPhoneNumber 
      [value]="userDetails.contact?userDetails.contact:''" 
      (blur)="updateUserDetails(displayPhoneNumber,'contact')"/>
    <textarea class="input-body" type="text" #displayAbout 
      [value]="userDetails.about?userDetails.about:''" 
      (blur)="updateUserDetails(displayAbout,'about')">
    </textarea>
     
  </section>
</div>

<!-- <h3></h3>
<input type="text" #displayNameInput 
  [value]="userDetails.displayName" 
  (blur)="updateUserDetails(displayNameInput,'displayName')"/>

<select #userGender 
  [value]="userDetails.gender?userDetails.gender:''"
  (change)="updateUserDetails(userGender,'gender')">
  <option>Female</option>
  <option>Male</option>
  <option>Others</option>
</select>

<input type="text" #displayPhoneNumber 
  [value]="userDetails.contact?userDetails.contact:''" 
  (blur)="updateUserDetails(displayPhoneNumber,'contact')"/>




<label>Update User profile picture</label>
 -->
