<div>
  <div>
    <h4>Create new Snippet</h4>
    <form (ngSubmit)="createPrivateSnippet(f_snippet)" #f_snippet="ngForm">
      <div class="form-group">
        <label for="snippet_name">Snippet Header</label>
        <input type="text" id="snippet_name" name="snippet_name" ngModel>
      </div>
      <div class="form-group">
        <label for="snippet_body">Snippet Body</label>
        <textarea id="snippet_body" name="snippet_body" ngModel></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Create Snippet</button>
    </form>
  </div>


  <div class="snippet-container">
    <div class="col-md-6" *ngFor="let snippet of snippetList">
      <div class="header-card">
        {{snippet.header}}
      </div>
      <div class="body-card">
        {{snippet.body}}
      </div>
      <button 
        class="btn btn-success" 
        (click)="populateUpdateSnippetForm(snippet)">Update Snippet</button>
      <button 
        class="btn btn-danger" 
        (click)="deleteSnippet(snippet)">Delete Snippet</button>
    </div>
  </div>

  <div>
    <h4>Update Snippet</h4>
    <form (ngSubmit)="updateSnippet(f_update_snippet)" #f_update_snippet="ngForm">
      <div class="form-group">
        <label for="snippet_name">Snippet Header</label>
        <input type="text" id="snippet_name" name="snippet_name" ngModel>
      </div>
      <div class="form-group">
        <label for="snippet_body">Snippet Body</label>
        <textarea id="snippet_body" name="snippet_body" ngModel></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Update Snippet</button>
    </form>
  </div>

</div>
