@import '~assets/styles/color-palette.scss';
@import '~assets/styles/responsive-breaks.scss';
@import '~assets/styles/helper-css.scss';

.welcome-wrapper{
    @extend %absolute-filled-content;
    background: $dark-black;
}
.background{
    @extend %background-image;
    @include container-size(100%,100%);
}
.background-filter{
    background:$dark-filter;
    @include container-size(100%,100%);
}
.contents{
    @extend %absolute-filled-content;
    z-index:1;
    display:flex;
}
.content-welcome-info{
    display:flex;
    flex-direction: column;
    flex:.6;
    padding: 20px 35px 0px 35px;
    justify-content: space-around;

    .icon-container{
        display: flex;
        width: 100%;
        justify-content: center;

        img{
            height:75px;
        }
        
    }
    .welcome-info{
        display: flex;
        flex-direction: column;
        .welcome-title{
            @extend %font;
            color:$white;
            font-size:70px;
        }
        .sub-welcome-title{
            @extend %font;
            color:$white;
            opacity:0.8;
            font-size:25px;
            margin-bottom:25px;
        }
        .app-details{
            @extend %font;
            color:$white;
            opacity:0.5;
            font-size:16px;
            text-align: justify;
        }
    }
    .contact-container{
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        li{
            flex:1;
            text-align: center;
            span{
                a{
                    @extend %font;
                    color:$white;
                    opacity:0.5;
                }
            }
        }
    }
}
.routed-content{
    flex:.4;
    background-color: $red-background;
}

@media screen and (max-width:$break-sm-width){
    .background{
        @include container-size(100%,50%);
    }   
    .content-welcome-info{
        display:none;
    }
    .routed-content{
        flex:1;
        background-color: transparent;
    }
}
