<div class="welcome-wrapper">
  <div class="background">
    <div class="background-filter">
    </div>
  </div>
  <div class="contents">
    <div class="content-welcome-info">
      <div class="icon-container">
        <img  src="/assets/icons/share-snippet.svg" alt="" srcset="">
      </div>
      <div class="welcome-info">
          <div class="welcome-title">
            Snippet Bucket
          </div>
          <div class="sub-welcome-title">
            A Web Application for Code Sharing
          </div>
          <p class="app-details">
            Use Snippet Bucket to store and share your snippets properly.
            The application is designed to take care your notes, snippets and source codes.
            Moreover you can join or create specific classroom to share and manage all your codes and notes in much better way.
            Snippet bucket provides you your personal wall for all the private codes you want to access in future.
            Use it once an get the essence of using a web application solely meant for your code management.
          </p>
      </div>
      <div class="contact-container">
        
        <a target="_blank" href="https://github.com/sabbya2011">
          <button type="submit" mat-fab>
            <img src="/assets/icons/git.svg">
          </button>
        </a>
        <a target="_blank" href="https://www.linkedin.com/in/sabbyasachi-roy-05267b160/">
          <button type="submit" mat-fab>
            <img src="/assets/icons/link.svg">
          </button>
        </a>
      </div>
    </div>
    <div class="routed-content">
      <router-outlet></router-outlet>      
    </div>
  </div>
</div>
