<div class="main-form-container">
  <form (ngSubmit)="createSnippet(f_snippet)" #f_snippet="ngForm">

    <button type="submit" class="submit-button">
      <i class="material-icons">note_add</i>
    </button>
  
    <div class="form-group">
      <input class="input-header" placeholder="Note Header" type="text" id="snippet_name" name="snippet_name" ngModel>
    </div>
    <div class="form-group">
      <textarea class="input-body" id="snippet_body" placeholder="Note Details" name="snippet_body" ngModel></textarea>
    </div>
  
  </form>
</div>

  
 <button mat-raised-button *ngIf="userAccessibility" class="btn-danger-clear" (click)="clearAllSuggestions()">Delete All Suggestions</button>

 <ul class="main-form-container">
  <li *ngFor="let snippet of snippetList" class="pending-user-card">
    <div class="user-info">
      <span class="pending-user-name">{{snippet.header}}</span>
      <span class="pending-user-mail">{{snippet.body}}</span>
      <span class="pending-user-extra">{{snippet.publisher}}</span>
      <span class="pending-user-extra">{{evaluateTime(snippet.time)}}</span>
    </div>
    <div class="action-buttons">
      <span *ngIf="userAccessibility"
        (click)="addToClassroomSnippet(snippet.header,snippet.body)" class="active-pending-user">
          <i class="material-icons">note_add</i>
      </span>
      <span *ngIf="userAccessibility"
        (click)="viewInFull(snippet.header,snippet.body)" class="active-pending-user">
          <i class="material-icons">open_in_new</i>
      </span>
    </div>
  </li>
</ul>  

<div class="fixed-container" *ngIf="show_active">
  <div class="fixed-back" (click)="hideActive()"></div>
  <div class="fixed-fore">
    <div class="main-form-container added-main-form">
      <form>
        <div class="form-group">
          <input disabled class="input-header" [value]="active_snippet_head">
        </div>
        <div class="form-group">
          <textarea class="input-body" disabled>{{active_snippet_body}}</textarea>
        </div>
      </form>
    </div>
  </div>
</div>
