<h4>Public Classroom Suggestion Box</h4>
<div class="col-md-5 col-sm-6 col-xs-12" 
  *ngFor="let snippet of snippetList" class="suggestion-card">
  <div class="header-card">
    {{snippet.header}}
  </div>
  <div class="body-card">
    {{snippet.body}}
    {{snippet.publisher}}
    {{evaluateTime(snippet.time)}}
  </div>
  <button *ngIf="userAccessibility" class="btn btn-primary" (click)="addToClassroomSnippet(snippet.header,snippet.body)">Add as a Classroom SNippet</button>
</div>
<button *ngIf="userAccessibility" class="btn btn-danger" (click)="clearAllSuggestions()">Delete All Suggestions</button>


<h4>Create new Snippet</h4>
<form (ngSubmit)="createSnippet(f_snippet)" #f_snippet="ngForm">
  <div class="form-group">
    <label for="snippet_name">Snippet Header</label>
    <input type="text" id="snippet_name" name="snippet_name" ngModel>
  </div>
  <div class="form-group">
    <label for="snippet_body">Snippet Body</label>
    <textarea id="snippet_body" name="snippet_body" ngModel></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Create Snippet</button>
</form>