@import '~assets/styles/color-palette.scss';
@import '~assets/styles/responsive-breaks.scss';
@import '~assets/styles/helper-css.scss';

.sidebar-container{
    height: 100%;
    z-index: 1;
    background: $sidebar-background;
    transition: all 0.3s;
}
.snippetbucket-header{
    color: $sidebar-text;
    @extend %font;
    display: inline-block;
    width: 100%;
    padding: 0 10px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    border-bottom: 2px solid $sidebar-active;
}
.navigate-stuff {
    :hover{
        background-color: $sidebar-hover;
    }
}
.navigator-container{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0 0 20px 0;
    border-bottom: 2px solid $sidebar-active;
    span{
        font-size:10px;
    }
    a{
        font-size:15px;
        cursor:pointer;
    }

    a , span{
        color: $sidebar-text;
        text-decoration: none;
        @extend %font;
        display: flex;
        width: 100%;
        padding: 0 0 0 15px;
        height: 50px;
        display: flex;
        align-items: center;
        transition: all.3s linear;
        
        :focus{
            color: $sidebar-text;
            text-decoration: none;
        }

        i{
            line-height: 50px;
            margin-right: 10px;
        }

    }
    .activatedSidebarButton{
        background-color: $dark-filter;
        background: $sidebar-active;
        font-size: 16px;
        cursor: default;
    }
}
@media screen and (max-width:$break-sm-width){
    .navigator-container{
        display: flex;
        flex-direction: row;
        padding:0;
        li{
            flex:1;
            text-align: center;
            
        }
        a,span{
            padding: 0 0 0 5px;
        }
        span{
            font-size:8px;
            justify-content: center;
        }
        a{
            font-size:12px;
        }
    }
    activatedSidebarButton{
        font-size: 13px;
    }
}