<div class="wrapper">
  <div class="action-list" #actionList>
    <header>
        <i class="material-icons subject">subject</i>
        <i class="material-icons key-left" 
          (click)="hideNavigation(actionList,showActionList)">keyboard_arrow_left</i>
        <span>Action List</span>
    </header>
    <section>
      <ul class="primary-options">
        <li class="primary-selectable" 
          [ngClass]="activeActionClass('pending')" 
          (click)="showUsers('pending')">Pending Users</li>
        <li class="primary-selectable" 
          [ngClass]="activeActionClass('activated')" 
          (click)="showUsers('activated')">Activated Users</li>
      </ul>
      <!-- <ul class="primary-options">
        <li class="primary-headers">Find User By Mail Id</li>
      </ul> -->
    </section>
  </div>
  <div class="contents">
    <header>
      <i #showActionList class="material-icons key-right" 
        (click)="showNavigation(actionList,showActionList)">keyboard_arrow_right</i>
      <span>{{contentHeader}}</span>
    </header>
    <section>

      <ul *ngIf="showItemsBySelectedActionList('pending')" class="user-list-container">
        <li *ngFor="let pendingUser of pendingUsersData" class="pending-user-card">
          <div class="user-info">
            <span class="pending-user-name">{{pendingUser.displayName}}</span>
            <span class="pending-user-mail">{{pendingUser.email}}</span>
          </div>
          <div class="action-buttons">
            <span (click)="activateUser(pendingUser.userId)" class="active-pending-user">
                <i class="material-icons">check_circle</i>
            </span>
            <span (click)="deleteUser(pendingUser.userId)" class="remove-pending-user">
                <i class="material-icons">delete</i>
            </span>
          </div>
        </li>
      </ul>

      <ul *ngIf="showItemsBySelectedActionList('activated')" class="user-list-container">
        <li *ngFor="let activeUser of activeUsersData" class="pending-user-card">

          <!-- <div class="user-image">

          </div> -->
          <div class="user-info">
            <span class="active-user-name active-common-txt-decoration">{{activeUser.displayName}}</span>
            <span class="active-user-mail active-common-txt-decoration">{{activeUser.email}}</span>
            <span class="active-user-classroom active-common-txt-decoration">{{activeUser.classroom}}</span>
            <span class="active-user-contact active-common-txt-decoration">{{activeUser.contact}}</span>
            <!-- <span class="active-user-gender">{{activeUser.gender}}</span> -->
          </div>
          <div class="action-buttons">
            <span (click)="deactivateUser(activeUser.userId)" class="active-pending-user">
                <i class="material-icons">lock</i>
            </span>
            <span (click)="deleteUser(activeUser.userId)" class="remove-pending-user">
                <i class="material-icons">delete</i>
            </span>
          </div>
        </li>
      </ul>
    </section>
  </div>
</div>

