<div class="wrapper">
  <div class="action-list">
    <header>
        <i class="material-icons">subject</i>
        <span>Action List</span>
    </header>
    <section>
      <ul class="primary-options">
        <li>All Users</li>
        <li>Pending Users</li>
        <li>Activated Users</li>
      </ul>
    </section>
  </div>
  <div class="contents">
    <header>

    </header>
  </div>
</div>



<!-- <h4>Pending Users</h4>
<ul>
  <li *ngFor="let pendingUser of pendingUsersData">
    {{pendingUser.displayName}}
    <br/>
    <button (click)="activateUser(pendingUser.userId)">Activate User</button>
  </li>
</ul>

<h4>Activated Users</h4>
<ul>
  <li *ngFor="let activeUser of activeUsersData">
    {{activeUser.displayName}}
    {{activeUser.classroom}}
    {{activeUser.email}}
    {{activeUser.contact}}
    {{activeUser.gender}}
    <button (click)="deactivateUser(activeUser.userId)">Deactivate User</button>
    <button (click)="deleteUser(activeUser.userId)">Delete User</button>
  </li>
</ul> -->
