@import '~assets/styles/color-palette.scss';
@import '~assets/styles/responsive-breaks.scss';
@import '~assets/styles/helper-css.scss';
app-user-management{
    height:100%;
}
.wrapper{
    display:flex;
    height:100vh;
    .action-list{
        flex: 1 1 250px;
        display: flex;
        flex-direction: column;
        
        header{
           background-color: $action-header-background;
           padding: 0 15px;
           height:50px;
           @extend %font;
           i{
               line-height:50px;
               float:left;
           }
           span{
            line-height:50px;
            float:right;
           } 
        }
        section{
            flex:1 1 100%;
            background-color: $white;
            @extend %font;
            font-size: 14px;
            padding: 25px 10px 25px 10px;
            .primary-options{
                padding: 0 0 25px 0;
                color:$action-text;
                border-bottom: 2px solid $action-text;
                .primary-selectable{
                    padding: 10px 5px;
                    cursor: pointer;
                    transition: all 0.3s linear; 
                    border-radius: 7px;
                    &:hover {
                        background-color: $action-hover-back;
                        color:$action-hover-text;
                        // font-weight: bold; 
                    }
                }
                .primary-headers{
                    padding: 10px 5px;
                    cursor: default;
                    font-size: 10px;   
                }
            }
        }
    }
    .contents{
        flex: 1 1 100%;
        display:flex;
        flex-direction: column;
        header{
            background-color: $sidebar-background;
            padding: 0 15px;
            height:50px;
            flex: 1 1 50px;
            @extend %font;
            text-align: center;
            span{
             line-height:50px;
             color:$sidebar-text;
             font-size: 25px;
            } 
         }
         section{
             background-color:$action-focus-back;
             flex: 1 1 100%;
         }
    }
}
.active-action-list{
    background-color: $action-focus-back !important;
    color: $action-focus-text !important;
    
}
.user-list-container{
    display: flex;
    list-style: none;
    height: 100%;
    flex-wrap: wrap;
    align-content: start;
    align-items: start;
}
.pending-user-card{
    background-color: $white;
    color: #aaaaaa;
    flex: 1 1 calc( 33.33% - 20px );
    margin: 10px;
    padding: 10px 5px 10px 10px;
    display:flex;
    flex-direction: row;
}
.user-info{
    display:flex;
    flex-direction: column;
    flex: 1 1 75%;
    flex: 1 1 75%;
    border-right: 2px solid $action-focus-text;
}
.pending-user-name{
    color: $sidebar-text;
    font-size: 20px;
    @extend %font;
    flex: 1 1 50%;
    display: flex;
    align-items: center;
}
.pending-user-mail{
    color: $action-focus-text;
    font-size: 12px;
    @extend %font;
    flex: 1 1 50%;
    display: flex;
    align-items: center;
}
.action-buttons{
    display: flex;
    flex-direction: column;
    flex: 1 1 25%;
}
.active-pending-user{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    cursor: pointer;
    i{
        font-size: 40px;
    }
}
.remove-pending-user{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    cursor: pointer;
    i{
        font-size: 40px;
    }
}
.active-common-txt-decoration{
    @extend %font;
    display: flex;
    align-items: center;
    flex:1;
}
.active-user-name{
    color: $sidebar-text;
    font-size: 20px;
    flex:3;
}
.active-user-mail{
    color: $action-focus-text;
    font-size: 12px;
    
}
.active-user-classroom{
    color: $action-focus-text;
    font-size: 12px;
   
}
.active-user-contact{
    color: $action-focus-text;
    font-size: 12px;
    
}