<form (ngSubmit)="onSignUp(f)" #f="ngForm">
  <div class="form-group">
    <label for="userName">UserName</label>
    <input type="userName" id="userName" name="userName" ngModel>
  </div>
  <div class="form-group">
    <label for="email">Mail</label>
    <input type="email" id="email" name="email" ngModel>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" id="password" name="password" ngModel>
  </div>
  <div class="form-group">
    <label for="password">Confirm-Password</label>
    
    <input type="password" id="confirm_password" name="confirm_password" ngModel>
  </div>
  <button type="submit" class="btn btn-primary">Sign Up</button>
</form>
