<div class="wrapper">
  <div class="action-list" #actionList>
    <header>
      <i class="material-icons subject">subject</i>
      <i class="material-icons key-left" (click)="hideNavigation(actionList,showActionList)">keyboard_arrow_left</i>
      <span>Action List</span>
    </header>
    <section>
      <ul class="primary-options">
        <li class="primary-selectable" [ngClass]="activeActionClass('viewclassrooms')" (click)="showAction('viewclassrooms')">View Classrooms</li>
        <li class="primary-selectable" [ngClass]="activeActionClass('joinclassroom')" (click)="showAction('joinclassroom')">Join Classroom</li>
        <li class="primary-selectable" [ngClass]="activeActionClass('viewsuggestionbox')" (click)="showAction('viewsuggestionbox')">View Suggestions</li>
      </ul>
      <ul class="secondary-options">
        <li class="primary-selectable" *ngIf="activeOption=='editclassroomnote'" >Edit Classroom Material</li>
        <li class="primary-selectable" *ngIf="activeOption=='viewclassroomnote'" >View Classroom Material</li>
        <li class="primary-selectable" *ngIf="activeOption=='createclassroomnote'" >Create Classroom Material</li>
      </ul>


    </section>
  </div>
  <div class="contents">
    <header>
      <i #showActionList class="material-icons key-right" (click)="showNavigation(actionList,showActionList)">keyboard_arrow_right</i>
      <span>{{contentHeader}}</span>
    </header>
    <section>
      <div *ngIf="showItemsBySelectedActionList('viewclassrooms')" class="section-container">
        <div class="subscribed-to-info pending-user-card" >
          <p *ngIf="getClassroomSubscriptionInfoofUser()">
            You are subscribed to Classroom {{userClassroom}}
          </p>
          <p *ngIf="!getClassroomSubscriptionInfoofUser()">
            You are not subscribed to any Classroom
          </p>
        </div>
        <div *ngIf="userAccessibility" class="main-form-container">
          <div *ngIf="sameClassroomExists" class="subscribed-to-info pending-user-card">
            <p>This Classroom name is already present</p>
          </div>
          <form (ngSubmit)="onValidateForm(f)" #f="ngForm" class="less-spread-form">
            <button type="submit" class="inline-submit-button">
              <i class="material-icons">done_all</i>
            </button>
            <div class="form-group">
              <input class="input-header" placeholder="Classroom Name" id="cls_name" type="text"  name="cls_name" ngModel>
            </div>
          </form>
        </div>
        <ul class="main-form-container">
          <li *ngFor="let classroom of allClassroomData" class="pending-user-card">
            <div class="user-info">
              <span class="pending-user-name">{{classroom.name}}</span>
            </div>
            <div class="action-buttons">
              <span (click)="subscribeToClassroom(classroom.name)" class="active-pending-user" *ngIf="!checkExistingClassroom(classroom.name)">
                <i class="material-icons">done_all</i>
              </span>
              <span (click)="unSubscribeToClassroom(classroom.name)" class="active-pending-user" *ngIf="checkExistingClassroom(classroom.name)">
                <i class="material-icons">highlight_off</i>
              </span>
            </div>
          </li>
        </ul>
      </div>
      
      <div *ngIf="showItemsBySelectedActionList('joinclassroom')" class="section-container">
        <div class="headerIconRight" *ngIf="userAccessibility" (click)="showAction('createclassroomnote')">
            <i class="material-icons">note_add</i>
        </div> 
        <ul class="main-form-container">
          <li *ngFor="let snippet of snippetList" class="pending-user-card">
            <div class="user-info">
              <div class="attachment-flags">
                <span class="attachment-added-flag" 
                  (click)="downloadAttachedFile(snippet)"
                  *ngIf="checkSnippetFileAttached(snippet.attachFileName)">
                  <i class="material-icons flag-attach-view">attach_file</i>
                </span>
              </div>
              <span class="pending-user-name">{{snippet.header}}</span>
              <span class="pending-user-mail">{{snippet.body}}</span>
            </div>
            <div class="action-buttons">
              <span (click)="populateUpdateSnippetForm(snippet)" class="active-pending-user">
                <i class="material-icons">visibility</i>
              </span>
              <span *ngIf="userAccessibility" (click)="deleteSnippet(snippet)" class="remove-pending-user">
                <i class="material-icons">delete</i>
              </span>
            </div>
          </li>
        </ul>
      </div>
      

      <div *ngIf="showItemsBySelectedActionList('createclassroomnote')" class="main-form-container">
        <form (ngSubmit)="createSnippet(f_snippet)" #f_snippet="ngForm">

          <button type="submit" class="submit-button">
            <i class="material-icons">note_add</i>
          </button>
          <div class="btn-group">
            <span class="attach-file-button">
              <i class="material-icons">attach_file</i>
            </span>
            <input #attachTag type="file" class="attach-file" title=" "
              (change)="attachAttachment($event.target.files,attachTag)" />
            <span class="attach-file-name">
              {{getAttachFileName()}}
            </span>
            <span class="remove-file-button" *ngIf="existanceofAttachFile()" (click)="removeAttachedFile()">
              <i class="material-icons">close</i>
            </span>
          </div>

          <div class="form-group">
            <input class="input-header" placeholder="Note Header" type="text" id="snippet_name" name="snippet_name" ngModel>
          </div>
          <div class="form-group">
            <textarea class="input-body" id="snippet_body" placeholder="Note Details" name="snippet_body" ngModel></textarea>
          </div>

        </form>
      </div>

      <div *ngIf="showItemsBySelectedAnyActionList('editclassroomnote','viewclassroomnote')" 
        class="main-form-container">
        <form (ngSubmit)="updateSnippet()" [formGroup]="editForm">

          <button type="submit" class="submit-button" *ngIf="userAccessibility">
            <i class="material-icons">note_add</i>
          </button>
          <div class="btn-group">
            <span class="attach-file-button">
              <i class="material-icons">attach_file</i>
            </span>
            <input #attachTagEdit type="file" class="attach-file" 
              *ngIf="enableDownloadTag()" title=" "
              (change)="attachAttachment($event.target.files,attachTagEdit)" 
              formControlName="attachedfile"
            />
            <span class="attach-file-name">
              {{getAttachFileNameForEditing()}}
            </span>
            <span class="remove-download-group">
              <span class="download-file-button" *ngIf="checkEditDownload()"
                (click)="downloadFileFromExpandedView()">
                  <i class="material-icons">file_download</i>
              </span>
              <span class="remove-file-button" *ngIf="existanceofAttachFile()" 
                (click)="removeAttachedFile()">
                <i class="material-icons">close</i>
              </span>
            </span>
          </div>

          <div class="form-group">
            <input class="input-header" placeholder="Note Header" type="text" id="snippet_name" name="snippet_name" formControlName="snippet_name">
          </div>
          <div class="form-group">
            <textarea class="input-body" id="snippet_body" placeholder="Note Details" name="snippet_body" formControlName="snippet_body"></textarea>
          </div> 

        </form>
      </div>
      <div *ngIf="showSuggestionBox()" class="main-form-container">
        <app-suggestion-box style="height:100%;width: 100%;"></app-suggestion-box>
      </div>

    </section>
  </div>
</div>

