<div *ngIf="getClassroomSubscriptionInfoofUser()">
  You are subscribed to Classroom {{userClassroom}}
</div>
<div #no_classroom_subscribed>
  You are not subscribed to any Classroom
</div>

<div *ngIf="sameClassroomExists">This Classroom name is already present</div>
<form *ngIf="userAccessibility" (ngSubmit)="onValidateForm(f)" #f="ngForm">
  <div class="form-group">
    <label for="cls_name">Classroom Name</label>
    <input type="text" id="cls_name" name="cls_name" ngModel>
  </div>
  <button type="submit" class="btn btn-primary">Create Classroom</button>
</form>

<h4>List of Classrooms</h4>
<ul>
  <li *ngFor="let classroom of allClassroomData">
    <span>{{ classroom.name }}</span>
    <button (click)="subscribeToClassroom(classroom.name)" >Subscribe Now</button>
  </li>
</ul>

<div *ngIf="userAccessibility">
  <h4>Create new Snippet</h4>
  <form (ngSubmit)="createSnippet(f_snippet)" #f_snippet="ngForm">
    <div class="form-group">
      <label for="snippet_name">Snippet Header</label>
      <input type="text" id="snippet_name" name="snippet_name" ngModel>
    </div>
    <div class="form-group">
      <label for="snippet_body">Snippet Body</label>
      <textarea id="snippet_body" name="snippet_body" ngModel></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Create Snippet</button>
  </form>
</div>

<h4>Snippet List</h4>
<div class="col-md-5 col-sm-6 col-xs-12" 
  *ngFor="let snippet of snippetList">
  <div class="header-card">
    {{snippet.header}}
  </div>
  <div class="body-card">
    {{snippet.body}}
  </div>
  <button 
    *ngIf="userAccessibility" 
    class="btn btn-success" 
    (click)="populateUpdateSnippet(snippet)">Update Snippet</button>
  <button 
    *ngIf="userAccessibility" 
    class="btn btn-danger" 
    (click)="deleteSnippet(snippet)">Delete Snippet</button>
</div>

<div *ngIf="userAccessibility">
  <h4>Update Snippet</h4>
  <form (ngSubmit)="updateSnippet(f_update_snippet)" #f_update_snippet="ngForm">
    <div class="form-group">
      <label for="snippet_name">Snippet Header</label>
      <input type="text" id="snippet_name" name="snippet_name" ngModel>
    </div>
    <div class="form-group">
      <label for="snippet_body">Snippet Body</label>
      <textarea id="snippet_body" name="snippet_body" ngModel></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Update Snippet</button>
  </form>
</div>