<div class="wrapper">
  <div class="action-list" #actionList>
    <header>
      <i class="material-icons subject">subject</i>
      <i class="material-icons key-left" (click)="hideNavigation(actionList,showActionList)">keyboard_arrow_left</i>
      <span>Action List</span>
    </header>
    <section>
      <ul class="primary-options">
        <li class="primary-selectable" [ngClass]="activeActionClass('viewclassrooms')" (click)="showAction('viewclassrooms')">View Classrooms</li>
        <li class="primary-selectable" [ngClass]="activeActionClass('joinclassroom')" (click)="showAction('joinclassroom')">Join Classroom</li>
      </ul>
      <ul class="secondary-options">
        <li class="primary-headers" *ngIf="activeOption=='editclassroomnote'" >Edit Classroom Material</li>
        <li class="primary-headers" *ngIf="activeOption=='viewclassroomnote'" >View Classroom Material</li>
      </ul>


    </section>
  </div>
  <div class="contents">
    <header>
      <i #showActionList class="material-icons key-right" (click)="showNavigation(actionList,showActionList)">keyboard_arrow_right</i>
      <span>{{contentHeader}}</span>
    </header>
    <section>
      <div *ngIf="showItemsBySelectedActionList('viewclassrooms')" class="section-container">
        <div class="subscribed-to-info pending-user-card" >
          <p *ngIf="getClassroomSubscriptionInfoofUser()">
            You are subscribed to Classroom {{userClassroom}}
          </p>
          <p *ngIf="!getClassroomSubscriptionInfoofUser()">
            You are not subscribed to any Classroom
          </p>
        </div>
        <div *ngIf="userAccessibility" class="main-form-container">
          <div *ngIf="sameClassroomExists" class="subscribed-to-info pending-user-card">
            <p>This Classroom name is already present</p>
          </div>
          <form (ngSubmit)="onValidateForm(f)" #f="ngForm" class="less-spread-form">
            <button type="submit" class="inline-submit-button">
              <i class="material-icons">done_all</i>
            </button>
            <div class="form-group">
              <input class="input-header" placeholder="Classroom Name" id="cls_name" type="text"  name="cls_name" ngModel>
            </div>
          </form>
        </div>
        <ul class="main-form-container">
          <li *ngFor="let classroom of allClassroomData" class="pending-user-card">
            <div class="user-info">
              <span class="pending-user-name">{{classroom.name}}</span>
            </div>
            <div class="action-buttons">
              <span (click)="subscribeToClassroom(classroom.name)" class="active-pending-user" *ngIf="!checkExistingClassroom(classroom.name)">
                <i class="material-icons">done_all</i>
              </span>
              <span (click)="unSubscribeToClassroom(classroom.name)" class="active-pending-user" *ngIf="checkExistingClassroom(classroom.name)">
                <i class="material-icons">highlight_off</i>
              </span>
            </div>
          </li>
        </ul>
      </div>
      
      <div *ngIf="showItemsBySelectedActionList('joinclassroom')" class="section-container">
        <ul class="main-form-container">
          <li *ngFor="let snippet of snippetList" class="pending-user-card">
            <div class="user-info">
              <div class="attachment-flags">
                <span class="attachment-added-flag" 
                  (click)="downloadAttachedFile(snippet)"
                  *ngIf="checkSnippetFileAttached(snippet.attachFileName)">
                  <i class="material-icons flag-attach-view">attach_file</i>
                </span>
              </div>
              <span class="pending-user-name">{{snippet.header}}</span>
              <span class="pending-user-mail">{{snippet.body}}</span>
            </div>
            <div class="action-buttons">
              <span (click)="populateUpdateSnippetForm(snippet)" class="active-pending-user">
                <i class="material-icons">visibility</i>
              </span>
              <span *ngIf="userAccessibility" (click)="deleteSnippet(snippet)" class="remove-pending-user">
                <i class="material-icons">delete</i>
              </span>
            </div>
          </li>
        </ul>
      </div>
      


      

      <ul *ngIf="showItemsBySelectedActionList('createnotes')" class="main-form-container">
        <form (ngSubmit)="createPrivateSnippet(f_snippet)" #f_snippet="ngForm">

          <button type="submit" class="submit-button">
            <i class="material-icons">note_add</i>
          </button>
          <div class="btn-group">
            <span class="attach-file-button">
              <i class="material-icons">attach_file</i>
            </span>
            <input #attachTag type="file" class="attach-file" (change)="attachAttachment($event.target.files,attachTag)" />
            <span class="attach-file-name">
              {{getAttachFileName()}}
            </span>
            <span class="remove-file-button" *ngIf="existanceofAttachFile()" (click)="removeAttachedFile()">
              <i class="material-icons">close</i>
            </span>
          </div>

          <div class="form-group">
            <input class="input-header" placeholder="Note Header" type="text" id="snippet_name" name="snippet_name" ngModel>
          </div>
          <div class="form-group">
            <textarea class="input-body" id="snippet_body" placeholder="Note Details" name="snippet_body" ngModel></textarea>
          </div>

        </form>
      </ul>

      <ul *ngIf="showItemsBySelectedActionList('editnotes')" class="main-form-container">
        <form (ngSubmit)="updateSnippet()" [formGroup]="editForm">

          <button type="submit" class="submit-button">
            <i class="material-icons">note_add</i>
          </button>
          <div class="btn-group">
            <span class="attach-file-button">
              <i class="material-icons">attach_file</i>
            </span>
            <input #attachTag type="file" class="attach-file" (change)="attachAttachment($event.target.files,attachTag)" formControlName="attachedfile"
            />
            <span class="attach-file-name">
              {{getAttachFileNameForEditing()}}
            </span>
            <span class="remove-file-button" *ngIf="existanceofAttachFile()" (click)="removeAttachedFile()">
              <i class="material-icons">close</i>
            </span>
          </div>

          <div class="form-group">
            <input class="input-header" placeholder="Note Header" type="text" id="snippet_name" name="snippet_name" formControlName="snippet_name">
          </div>
          <div class="form-group">
            <textarea class="input-body" id="snippet_body" placeholder="Note Details" name="snippet_body" formControlName="snippet_body"></textarea>
          </div>

        </form>
      </ul>

    </section>
  </div>
</div>



<!-- 



<h4>List of Classrooms</h4>


<div *ngIf="userAccessibility">
  <h4>Create new Snippet</h4>
  <form (ngSubmit)="createSnippet(f_snippet)" #f_snippet="ngForm">
    <div class="form-group">
      <label for="snippet_name">Snippet Header</label>
      <input type="text" id="snippet_name" name="snippet_name" ngModel>
    </div>
    <div class="form-group">
      <label for="snippet_body">Snippet Body</label>
      <textarea id="snippet_body" name="snippet_body" ngModel></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Create Snippet</button>
  </form>
</div>

<h4>Snippet List</h4>
<div class="col-md-5 col-sm-6 col-xs-12" 
  *ngFor="let snippet of snippetList">
  <div class="header-card">
    {{snippet.header}}
  </div>
  <div class="body-card">
    {{snippet.body}}
  </div>
  <button 
    *ngIf="userAccessibility" 
    class="btn btn-success" 
    (click)="populateUpdateSnippetForm(snippet)">Update Snippet</button>
  <button 
    *ngIf="userAccessibility" 
    class="btn btn-danger" 
    (click)="deleteSnippet(snippet)">Delete Snippet</button>
</div>

<div *ngIf="userAccessibility">
  <h4>Update Snippet</h4>
  <form (ngSubmit)="updateSnippet(f_update_snippet)" #f_update_snippet="ngForm">
    <div class="form-group">
      <label for="snippet_name">Snippet Header</label>
      <input type="text" id="snippet_name" name="snippet_name" ngModel>
    </div>
    <div class="form-group">
      <label for="snippet_body">Snippet Body</label>
      <textarea id="snippet_body" name="snippet_body" ngModel></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Update Snippet</button>
  </form>
</div>

<div class="suggestion-box-container" *ngIf="getClassroomSubscriptionInfoofUser()">
  <app-suggestion-box></app-suggestion-box>
</div> -->