$dark-black:rgba(33,33,45,1);
$dark-filter:linear-gradient(rgba(33, 33, 45, 0.75) 30%, rgba(33, 33, 45, 1));
$red-background:rgba(207,28,34,1);
$white:#ffffff;
$sidebar-active:#2b2f33;
$sidebar-background:#33373B;
$sidebar-text:#919BA6;
$sidebar-hover:rgba(43,47,51,0.5);

$action-header-background:#FF1744;
$action-header-color:#D50000;