@import '~assets/styles/color-palette.scss';
@import '~assets/styles/responsive-breaks.scss';
@import '~assets/styles/helper-css.scss';


.wrapper{
    display:flex;
    flex-direction:column;
    padding: 20px;
    @include container-size(100%,100%);
    box-sizing: border-box;
    justify-content: space-around
}
.icon-container{
    display: none;
}
.welcome-title{
    display:none;
    @extend %font;
}
.welcome-sub-title{
    display: inline-block;
    font-size:30px;
    color:$white;
    @extend %font;
}
.additional-text{
    font-size:15px;
    color:$white;
    opacity:0.5;
    @extend %font;
    text-align: justify;
}
.new-user{
    @extend %font;
    a{
        color:$white;
        
    }
}
.mat-form-field{
    width:100%;
}
.mat-raised-button{
    color:$white;
    border-radius: 25px;
    width: 100%;
}

@media screen and (max-width:$break-sm-width){
    .icon-container{
        display: flex;
        width: 100%;
        justify-content: center;
    
        img{
            height:45px;
        }
    }
    .welcome-title{
        display: inline-block;
        font-size:30px;
        color:$white;
    }
    .welcome-sub-title{
        display:none;
    }
    .mat-raised-button{
        background-color: $red-background;
    }
    .new-user{
        a{
            color:$red-background;
        }
    }
}