<div class="wrapper">
  <div class="icon-container">
    <img  src="/assets/icons/share-snippet.svg" alt="" srcset="">
  </div>

  <div class="welcome-title">
      Snippet Bucket
  </div>

  <div class="welcome-sub-title">
    Login to Snippet Bucket
  </div>
  
  <section>
    <p class="additional-text">
      Please register if you dont have an account.
      It takes hardly any time to have a completely free one :)
    </p>
  
    <form class="example-form" (ngSubmit)="onLogin()">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="E-Mail" type="email" id="email" name="email" 
        ngModel [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <br/>
      <mat-form-field class="example-full-width" >
          <input matInput placeholder="Password" type="password" id="password" name="password" 
          [formControl]="password" ngModel required>
      </mat-form-field>
      <br/>
      <button type="submit" mat-raised-button>Sign In Please</button>
    </form>
  </section>
  
  <div class="new-user">
    <span>New user ?</span>
    <a routerLink="/welcome-user/register" >Sign Up</a>
  </div>
</div>
