<div class="wrapper">
  <div class="icon-container">
    <img  src="/assets/icons/share-snippet.svg" alt="" srcset="">
  </div>

  <div class="welcome-title">
      Snippet Bucket
  </div>

  <div class="welcome-sub-title">
    Login to Snippet Bucket
  </div>
  
  <section>
    <p class="additional-text">
      Please register if you dont have an account.
      It takes hardly any time to have a completely free one :)
    </p>
  
    <form class="example-form" (ngSubmit)="onLogin()" *ngIf="!forgetPasswordField">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="E-Mail" type="email" id="email" name="email" 
        ngModel [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <br/>
      <mat-form-field class="example-full-width" >
          <input matInput placeholder="Password" type="password" id="password" name="password" 
          [formControl]="password" ngModel required>
      </mat-form-field>
      <br/>
      <button type="submit" mat-raised-button>Sign In Please</button>
    </form>
  </section>
  
  
  <form *ngIf="forgetPasswordField" class="example-form" (ngSubmit)="onForgetPassword()">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="E-Mail" type="email" id="forgetemail" name="forgetemail" 
      ngModel [formControl]="forgetemail" required>
      <mat-error *ngIf="forgetemail.invalid">{{getForgetErrorMessage()}}</mat-error>
    </mat-form-field>
    <br/>
    <button type="submit" mat-raised-button>Send Mail</button>
  </form>
  
  <div class="new-user">
    <div class="user-add-container">
      <span>New user ?</span>
      <a routerLink="/welcome-user/register" >Sign Up</a>
    </div>
    <button type="submit" mat-fab (click)="enableForgetFlag()" *ngIf="!forgetPasswordField">
      <i class="material-icons">lock_open</i>
    </button>
    <button type="submit" mat-fab (click)="disableForgetFlag()" *ngIf="forgetPasswordField">
      <i class="material-icons">keyboard_backspace</i>
    </button>
  </div>
</div>
